# Day 1

## Part 1

In [1]:
import pandas as pd
f = open("./input.txt", "r")
c = f.readlines()

In [2]:
data = [int(x.replace('\n','')) for x in c]
df = pd.Series(data)

In [4]:
## add manually last 2 records since the rolling works on left side
tmp = df.rolling(window=3,center=False, min_periods=3).sum().dropna()
(tmp.append(pd.Series([17125,8562 ]), ignore_index=False).diff()>0).sum()

1653

# Day2

## Part 1

In [18]:
f = open("./input2.txt", "r")
c = f.readlines()

In [21]:
df = pd.DataFrame(c)[0].str.replace('\n','').str.split(' ').apply(pd.Series)

In [22]:
df.loc[df[0]=='forward','forward'] = df[1]
df.loc[df[0]!='forward','depth'] = df[1]

In [23]:
df['sign'] = 1
df.loc[df[0]=='up', 'sign'] = -1

In [24]:
df['forward'].fillna(0, inplace=True)
df['depth_copy'] = df['depth'].copy()
df['depth'].fillna(0, inplace=True)
df['depth_copy'].ffill(inplace=True)

In [27]:
df['depth'] = df['depth'].astype(int)
df['forward'] = df['forward'].astype(int)
df['dpth_sign'] = df['depth'].multiply(df['sign'])

In [28]:
df[['forward','dpth_sign']].sum()

forward      2065
dpth_sign     917
dtype: int64

In [176]:
2065*917

1893605

## Part 2

In [29]:
df['aim'] = df['dpth_sign']

In [30]:
df['aim_cumsum'] = df['aim'].cumsum()

In [31]:
depth = 0
aim = 0
forward = 0

for _, row in df.iterrows():
    value = int(row[1])
    if row[0]=='up':
        # depth  = depth - value
        aim = aim - value
    elif row[0]== 'down':
        # depth  = depth + value
        aim = aim + value
    else:
        forward = forward + value
        depth = depth + (aim * value)
        
        
print(depth, aim, forward)

1026990 917 2065

In [210]:
1026990  * 2065

2120734350

# Day3

## Part 1

In [230]:
df = pd.read_csv('./input3.csv', header=None,dtype=object)

In [32]:
df = pd.read_csv('./input3.csv', header=None,dtype=object)
df_split = df[0].apply(lambda x: list(x)).apply(pd.Series)

In [37]:
bin1 = ''.join(df_split.mode(axis=0).values[0])

In [38]:
int(bin1, 2)

190

In [240]:
# manually reverse bits
int("111101000001",2)

3905

## Part 2

In [54]:
df = pd.read_csv('./input3.csv', header=None,dtype=object)
df_split = df[0].apply(lambda x: list(x)).apply(pd.Series)


col = 0
def find_oxy(df, col):
    if df.shape[0]==1:
        print(df.index, 'single oxy')
        return df
    else:
        # print ('working on column', col)
        most_common = df[col].mode().max()
        col = col+1
        # print (df.columns)
        print (df[df[col]==most_common].shape)
        find_oxy(df[df[col]==most_common][df.columns[1::]], col)
    return df


def find_co2(df, col):
    if df.shape[0]==1:
        print(df.index, 'single co2')
        return df
    else:
        # print ('working on column', col)
        most_common = df[col].mode().max()
        least_common = "1" if most_common=="0" else "1"
        col = col+1
        # print (df.columns)
        print (df[df[col]==least_common].shape)
        find_oxy(df[df[col]==least_common][df.columns[1::]], col)
    return df

        
a = find_oxy(df_split, col=0)
a = find_co2(df_split, col=0)

(511, 12)
(256, 11)
(126, 10)
(72, 9)
(37, 8)
(15, 7)
(8, 6)
(4, 5)
(2, 4)
(1, 3)
Int64Index([272], dtype='int64') single oxy
(489, 12)
(243, 11)
(109, 10)
(62, 9)
(28, 8)
(17, 7)
(7, 6)
(2, 5)
(1, 4)
Int64Index([522], dtype='int64') single oxy

In [291]:
178
255

False

In [40]:
a = ''.join(df_split.loc[178].values) # oxy
b = ''.join(df_split.loc[255].values) # CO2

In [41]:
int(a,2)

282

In [42]:
int(b,2)

3205

In [43]:
int(a,2) * int(b,2)

903810

## Day 4

In [75]:
order = [62,55,98,93,48,28,82,78,19,96,31,42,76,25,34,4,18,80,66,6,14,17,57,54,90,27,40,47,9,36,97,56,87,61,91,1,64,71,99,38,70,5,94,85,49,59,69,26,21,60,0,79,2,95,11,84,20,24,8,51,46,44,88,22,16,53,7,32,89,67,15,86,41,92,10,77,68,63,43,75,33,30,81,37,83,3,39,65,12,45,23,73,72,29,52,58,35,50,13,74]
len(order)

100

In [104]:
f = open("./input4.txt", "r")
c = f.readlines()

In [105]:
df = pd.DataFrame(pd.DataFrame(c)[0].str.replace('\n',''))
df = df[df[0].str.len()==14]
df = df[0].str.split(' ').apply(lambda x: [y for y in x if y!='']).apply(pd.Series)
df = df.astype(int)

In [106]:
arr3d = df.copy().to_numpy().reshape(100,5,5)

In [107]:
import numpy as np
history = []
dict = ()
for i in order:
    print(i)
    history.append(i)
    hor = np.isin(arr3d, history).sum(axis=1)
    ver = np.isin(arr3d, history).sum(axis=2)
    if len(np.where(hor == 5)[0]) > 0:
        print('winner hor')
        print (np.where(hor == 5))
        print('winning num', i)
        arr3d[np.where(hor == 5)[0]] = -1 # mark minus so the board doesnt play anymore
        win_num = i
        win_board = np.where(hor == 5)

    if len(np.where(ver == 5)[0]) > 0:
        print('winner vert')
        print( np.where(ver == 5))
        print('winning num', i)
        arr3d[np.where(ver == 5)[0]] = -1 # mark minus so the board doesnt play anymore
        win_num = i
        win_board = np.where(hor == 5)

62
55
98
93
48
28
82
78
19
96
31
42
76
25
34
4
18
80
66
6
14
winner vert
(array([20], dtype=int64), array([0], dtype=int64))
winning num 14
17
57
54
90
winner vert
(array([41], dtype=int64), array([0], dtype=int64))
winning num 90
27
40
winner hor
(array([86], dtype=int64), array([4], dtype=int64))
winning num 40
47
winner hor
(array([72], dtype=int64), array([1], dtype=int64))
winning num 47
9
36
97
56
87
winner hor
(array([35], dtype=int64), array([4], dtype=int64))
winning num 87
61
winner hor
(array([74], dtype=int64), array([1], dtype=int64))
winning num 61
winner vert
(array([56], dtype=int64), array([3], dtype=int64))
winning num 61
91
1
winner hor
(array([73], dtype=int64), array([0], dtype=int64))
winning num 1
64
71
99
winner hor
(array([8], dtype=int64), array([4], dtype=int64))
winning num 99
winner vert
(array([55, 59], dtype=int64), array([0, 1], dtype=int64))
winning num 99
38
70
winner hor
(array([54], dtype=int64), array([0], dtype=int64))
winning num 70
5
94
winner hor
(array([14], dtype=int64), array([2], dtype=int64))
winning num 94
85
winner vert
(array([96], dtype=int64), array([0], dtype=int64))
winning num 85
49
winner hor
(array([89], dtype=int64), array([1], dtype=int64))
winning num 49
59
winner vert
(array([32, 85], dtype=int64), array([1, 4], dtype=int64))
winning num 59
69
winner hor
(array([80], dtype=int64), array([1], dtype=int64))
winning num 69
winner vert
(array([80, 99], dtype=int64), array([4, 2], dtype=int64))
winning num 69
26
winner vert
(array([53], dtype=int64), array([2], dtype=int64))
winning num 26
21
winner hor
(array([22], dtype=int64), array([4], dtype=int64))
winning num 21
winner vert
(array([40, 75], dtype=int64), array([3, 2], dtype=int64))
winning num 21
60
winner vert
(array([21], dtype=int64), array([2], dtype=int64))
winning num 60
0
winner vert
(array([51, 76], dtype=int64), array([0, 3], dtype=int64))
winning num 0
79
2
winner hor
(array([0], dtype=int64), array([2], dtype=int64))
winning num 2
winner vert
(array([ 7,  9, 29, 30, 34], dtype=int64), array([4, 0, 4, 4, 1], dtype=int64))
winning num 2
95
winner hor
(array([15, 26, 45], dtype=int64), array([3, 3, 0], dtype=int64))
winning num 95
winner vert
(array([ 6, 70], dtype=int64), array([4, 0], dtype=int64))
winning num 95
11
winner hor
(array([10, 11, 57], dtype=int64), array([1, 4, 3], dtype=int64))
winning num 11
84
winner hor
(array([23], dtype=int64), array([1], dtype=int64))
winning num 84
winner vert
(array([23, 61, 71, 91], dtype=int64), array([4, 4, 0, 0], dtype=int64))
winning num 84
20
winner hor
(array([60], dtype=int64), array([4], dtype=int64))
winning num 20
winner vert
(array([16, 65], dtype=int64), array([1, 4], dtype=int64))
winning num 20
24
winner hor
(array([63], dtype=int64), array([4], dtype=int64))
winning num 24
winner vert
(array([25, 63], dtype=int64), array([2, 3], dtype=int64))
winning num 24
8
winner hor
(array([31, 68], dtype=int64), array([1, 2], dtype=int64))
winning num 8
winner vert
(array([42], dtype=int64), array([4], dtype=int64))
winning num 8
51
winner hor
(array([13, 39], dtype=int64), array([0, 1], dtype=int64))
winning num 51
winner vert
(array([95, 98], dtype=int64), array([3, 3], dtype=int64))
winning num 51
46
winner hor
(array([1], dtype=int64), array([1], dtype=int64))
winning num 46
winner vert
(array([81], dtype=int64), array([1], dtype=int64))
winning num 46
44
winner hor
(array([49, 88], dtype=int64), array([4, 3], dtype=int64))
winning num 44
winner vert
(array([49, 50, 88], dtype=int64), array([1, 1, 4], dtype=int64))
winning num 44
88
winner vert
(array([38, 48], dtype=int64), array([0, 1], dtype=int64))
winning num 88
22
winner hor
(array([27, 78, 90], dtype=int64), array([2, 4, 2], dtype=int64))
winning num 22
16
winner vert
(array([ 4, 36, 69, 82], dtype=int64), array([0, 2, 1, 3], dtype=int64))
winning num 16
53
winner hor
(array([12], dtype=int64), array([4], dtype=int64))
winning num 53
winner vert
(array([33, 64, 66], dtype=int64), array([1, 1, 3], dtype=int64))
winning num 53
7
winner vert
(array([28, 44], dtype=int64), array([1, 2], dtype=int64))
winning num 7
32
winner vert
(array([2], dtype=int64), array([2], dtype=int64))
winning num 32
89
winner hor
(array([77], dtype=int64), array([2], dtype=int64))
winning num 89
67
winner hor
(array([67], dtype=int64), array([0], dtype=int64))
winning num 67
winner vert
(array([67], dtype=int64), array([2], dtype=int64))
winning num 67
15
winner hor
(array([18, 24], dtype=int64), array([4, 4], dtype=int64))
winning num 15
winner vert
(array([18, 24], dtype=int64), array([0, 1], dtype=int64))
winning num 15
86
winner hor
(array([97], dtype=int64), array([2], dtype=int64))
winning num 86
winner vert
(array([58], dtype=int64), array([0], dtype=int64))
winning num 86
41
winner vert
(array([ 5, 19], dtype=int64), array([2, 2], dtype=int64))
winning num 41
92
10
winner hor
(array([17, 43, 94], dtype=int64), array([1, 3, 2], dtype=int64))
winning num 10
77
winner hor
(array([ 3, 52], dtype=int64), array([2, 2], dtype=int64))
winning num 77
winner vert
(array([ 3, 52], dtype=int64), array([1, 0], dtype=int64))
winning num 77
68
winner vert
(array([83], dtype=int64), array([4], dtype=int64))
winning num 68
63
winner hor
(array([46, 93], dtype=int64), array([4, 3], dtype=int64))
winning num 63
winner vert
(array([93], dtype=int64), array([0], dtype=int64))
winning num 63
43
winner vert
(array([84, 87], dtype=int64), array([2, 0], dtype=int64))
winning num 43
75
winner hor
(array([92], dtype=int64), array([1], dtype=int64))
winning num 75
winner vert
(array([79], dtype=int64), array([0], dtype=int64))
winning num 75
33
winner hor
(array([37], dtype=int64), array([4], dtype=int64))
winning num 33
30
winner vert
(array([62], dtype=int64), array([1], dtype=int64))
winning num 30
81
winner hor
(array([47], dtype=int64), array([2], dtype=int64))
winning num 81
37
83
3
39
65
12
45
23
73
72
29
52
58
35
50
13
74

In [108]:
print('last_board_to_win', win_num , win_board[0][0])
# init to remove all the (-1)
arr3d = df.to_numpy().reshape(100,5,5)
last_win = pd.DataFrame(arr3d[win_board[0][0]])
ind_of_winning_number = np.where(np.array(order) == win_num)[0][0]

last_board_to_win 81 47

In [110]:
last_win[~last_win.isin(history[0:ind_of_winning_number+1])].sum().sum()*win_num

18063.0

## Day 5

In [62]:

f = open("./input5.txt", "r")
c = f.readlines()

In [63]:
import pandas as pd

In [65]:
df = pd.DataFrame(c)
df = df[0].str.replace('\n','').str.replace('->',',').str.split(',').apply(pd.Series)
df = df.astype(int)
df['filter'] = df.apply(lambda row: 1 if ((row[0]==row[2])|(row[1]==row[3])) else 0, axis=1)   # keep only vertical and horizontal lines

In [66]:
df['filter'].value_counts()

1    337
0    163
Name: filter, dtype: int64

In [67]:
df_lines = df[df['filter']==1]

In [69]:
# check max size of board
df[[0,1,2,3]].max().max()

990

In [70]:
import numpy as np
zero = pd.DataFrame(0, index=np.arange(df[[0,1,2,3]].max().max()+1), columns=np.arange(df[[0,1,2,3]].max().max()+1))

In [71]:
# get all points on diagonal with start and end point
def get_line(x1, y1, x2, y2):
    points = []
    issteep = abs(y2-y1) > abs(x2-x1)
    if issteep:
        x1, y1 = y1, x1
        x2, y2 = y2, x2
    rev = False
    if x1 > x2:
        x1, x2 = x2, x1
        y1, y2 = y2, y1
        rev = True
    deltax = x2 - x1
    deltay = abs(y2-y1)
    error = int(deltax / 2)
    y = y1
    ystep = None
    if y1 < y2:
        ystep = 1
    else:
        ystep = -1
    for x in range(x1, x2 + 1):
        if issteep:
            points.append((y, x))
        else:
            points.append((x, y))
        error -= deltay
        if error < 0:
            y += ystep
            error += deltax
    # Reverse the list if the coordinates were reversed
    if rev:
        points.reverse()
    return points

In [72]:
def add_counter(df_zero, x1, x2, x3, x4):
    if x1==x3:
        min_x = np.min([x2, x4])
        max_x = np.max([x2, x4])
        print (min_x, max_x)
        df_zero.loc[x1][df_zero.columns[min_x:max_x+1]]  = df_zero.loc[x1][df_zero.columns[min_x:max_x+1]]+1
    elif x2 == x4:
        min_x = np.min([x1, x3])
        max_x = np.max([x1, x3])
        print (min_x, max_x)
        df_zero.loc[min_x:max_x][x2]  = df_zero.loc[min_x:max_x][x2] + 1
    # with diagonal for part 2
    else:
        points = get_line(x1, x2, x3, x4)
        for point in points:
            x = point[0]
            y = point[1]
            df_zero.loc[x][y] = df_zero.loc[x][y] + 1
        
    return df_zero

In [73]:
for i, row in df.iterrows():
    zero = add_counter(zero, row[0], row[1], row[2], row[3])

57 687
84 674
430 807
280 514
11 574

C:\Users\MELMAT~1\AppData\Local\Temp/ipykernel_45880/3390643633.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_zero.loc[min_x:max_x][x2]  = df_zero.loc[min_x:max_x][x2] + 1

658 713
594 805
313 899
345 883
46 572
298 775
121 718
146 218
124 857
32 657
609 964
739 910
243 960
103 240
497 568
47 231
222 240
325 623
123 405
721 906
267 484
136 516
706 954
680 958
680 908
784 891
174 623
82 336
652 763
141 580
685 779
257 343
420 703
368 955
79 905
646 737
243 933
567 901
147 159
84 960
372 860
131 703
247 368
301 587
461 506
164 960
327 874
237 921
575 717
434 813
311 418
33 369
226 558
513 634
207 439
294 801
182 603
199 506
22 563
161 590
269 932
309 746
386 568
233 739
356 628
285 534
563 698
339 432
335 414
59 591
330 341
406 938
346 864
820 947
63 107
47 984
193 776
173 740
489 546
646 675
592 805
606 617
179 505
15 172
17 192
18 945
161 385
575 737
74 147
426 728
73 583
302 466
184 525
401 644
253 976
576 686
389 582
76 786
231 402
525 881
364 383
20 75
107 692
344 707
216 663
356 534
519 973
612 732
485 806
714 719
342 905
188 272
65 679
353 847
652 989
917 934
118 791
114 631
797 850
91 842
69 452
161 789
630 785
78 931
133 842
628 890
509 592
210 218
525 558
39 151
718 833
234 620
150 959
307 336
643 752
112 233
190 274
128 268
18 552
140 896
114 727
233 750
213 758
171 530
38 301
52 517
203 365
890 923
147 347
762 889
424 558
838 845
27 454
20 154
154 173
71 618
500 873
159 320
213 977
385 759
210 650
335 547
709 714
159 947
604 837
412 617
60 467
47 741
561 708
509 938
670 885
284 812
242 438
56 551
526 637
154 476
145 400
417 740
771 923
407 609
235 842
174 208
370 731
466 817
370 894
497 755
145 398
383 578
849 985
253 724
51 525
46 181
916 975
202 642
240 490
298 663
259 377
147 218
486 683
751 855
558 989
597 660
317 889
148 625
176 256
648 939
411 645
221 502
213 821
361 684
173 405
323 726
35 131
164 798
133 989
155 545
401 766
203 864
604 636
882 970
835 866
507 715
494 928
104 193
518 778
34 135
341 902
21 344
244 503
635 938
262 974
46 75
17 747
149 239
251 881
204 753
33 130
42 304
565 773
234 387
433 723
370 595
241 910
560 908
411 565
624 708
423 930
607 613
186 827
142 483
50 692
360 653
174 948
774 797
486 812
102 659
62 164
58 387
396 694
241 361
112 707
636 771
389 508
57 516
239 607
631 975
597 611
504 900
476 625
296 613
188 273
425 791
39 866
97 579
59 581
256 550
15 380
112 686
305 791
741 898
113 479
18 650
280 550
155 235
34 454
173 913
234 775
444 576
548 801
363 859
487 654
443 729
350 885
31 175
280 423
424 948
674 723
423 577
19 424
296 308
905 955
319 892
91 497
835 885
610 938
661 961
297 378
612 874
185 218
735 840
461 964
456 485
132 793
561 614
147 181
159 175
647 858
443 720
631 641
202 891
73 710
571 643
716 810
517 575
260 727
581 606
252 761
670 916
139 309
194 386
182 557
389 698

In [74]:
len(np.where(zero.values>=2)[0])

17193